[init]
  defaultBranch = main
[core]
  editor = nvim
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
[pull]
  rebase=true

[color]
	ui = auto
[include]
	path = ~/.gitconfig.local
